@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

/* html {
    font-size: 100%;
} */
body{
    padding: 0 2%;
    margin:0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
/* *************************Barre de navigation (commun à tous)******************************** */

.nav{
   display:flex; 
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   background-color:white;
   position :sticky;
   top: 0;
   z-index:98;
}
.nav .profil{
    display:flex;
    align-items: center;
}
.nav .profil img{
    margin-top: 3px;
    margin-bottom: 3px;
    width: 40px;
    height: 40px;
    border-radius: 20%;
}
.nav .profil h1{
    font-size:15px;
    margin-left: 10px;
}
.nav ul{
    display: flex;
    list-style-type: none;
}
.nav ul li{
    margin-left: 40px;
    cursor: pointer;
    border-bottom: 1px solid white;
}
.nav ul li:hover{
    border-bottom-color: black;
}

.nav a{
    color: black;
}

.nav_mobile {
    display:none;
}

/* *************************Code commun à toutes les pages******************************** */

.box{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 92vw;
    text-align: center;
    background: rgba(0,0,0,0.5);
    color: white;
    line-height: 1.5rem;
    font-family: sans-serif;
    font-weight: 100;
    padding: 30px 0px;
}
.box h1{
    color: lightgrey;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 4vw;
    line-height: 5vw;
    letter-spacing:5px;
    width:100%;
}
.box h4{
    color:lightgrey;
    font-family: 'Oswald', sans-serif;
    letter-spacing:5px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 4vw;
}
.box h2{
    margin: 5vh;
    font-size: 5vh;
    line-height:6vh;
}
.box .text{
    margin: 1vh 1vw;
    text-align:justify;
    font-size: 2.5vh;
    letter-spacing: 0.05vw;
    line-height: 3vh;
}
.box span{
    font-size:bolder;
    text-decoration:underline;
    color:aliceblue;
}
.box .text a:hover{
    color:lightgrey;
    Font-size:1.1em;
}
.box .champ{
    display:flex;
    align-items:baseline;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left:5%;
    padding-right:5%;
}

/* ************************* Animations******************************** */

.box1 {
    opacity: 0;
    transition: all 0.4s linear;
}
.box2 {
    opacity: 0;
    transition: all 0.4s linear;
}
.box3 {
    opacity: 0;
    transition: all 0.4s linear;
}
.box_soin_1 {
    opacity: 0;
    transition: all 0.4s linear;
}
.box_soin_2 {
    opacity: 0;
    transition: all 0.4s linear;
}
.box_soin_3 {
    opacity: 0;
    transition: all 0.4s linear;
}
.box_soin_4 {
    opacity: 0;
    transition: all 0.4s linear;
}
.box_rdv_1 {
    opacity: 0;
    transition: all 0.4s linear;
}
.box_rdv_2 {
    opacity: 0;
    transition: all 0.4s linear;
}
.box_rdv_3 {
    opacity: 0;
    transition: all 0.4s linear;
}
.fade-in {
    opacity:1;
}

/* *************************  PAGE ACCUEIL  ******************************** */


/* Accueil : Message de Bienvenue */
.img0{
    padding-top: 5%;
    background: url('images/Photo_Principale.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.telephone{
    border:none;
    outline:none;
    cursor: pointer;
    background:transparent;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:3vw;
    font-weight:bold;
    color:lightgrey;
    width:100%;
}

.telephone a{
    margin-left: 1vw;
    color:lightgrey;
}
.telephone i{
    margin-right:1vw;
}

.telephone a:hover{
    color: black;
}



/* Accueil : section 1 - Soins et Traitements */

.img1 {
    background: url('images/Pied_1.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.soin{
    width: 30%;
    margin-top:1%;
}
.soin h4{
    font-family: 'Oswald', sans-serif;
    color: white;
    margin: 0;
    padding: 5% 10%;
    font-size: 2vh;
    line-height: 3vh;
    letter-spacing: 0.1vw;
}
.soin img{
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
    width: 100%;
}
.soin img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}

.discover{
    background: transparent;
    color: white;
    border: 1px solid rgba(255,255,255,0.3);
    margin-top: 4vh;
    padding: 4vh;
    width: 40vh;
    font-size: 3vh;
    letter-spacing: 0.1vw;
    font-weight: 600;
    cursor:pointer;
}

.discover:hover{
    transition: all 0.6s ease-in;
    background: rgba(255,255,255,0.9);
    color: black;
}


/* Accueil : section 2 - Rendez-Vous */

.img2 {
    background: url('images/Pied_2.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.RdV{
    width: 50%;
    margin-top:1%;
}
.RdV h4{
    font-family: 'Oswald', sans-serif;
    color: white;
    margin: 0;
    padding: 3% 5% 3% 5%;
    font-size: 2vh;
    line-height: 3vh;
    letter-spacing: 0.1vw;
}

.RdV img{
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
    width: 70%;
}
.RdV img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}


/* Accueil : section 3 - A propos */

.img3 {
    background: url('images/Pied_3.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.apropos{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5vh 2.5vw;
}

.apropos img{
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
    width: 15%;
    margin-top:2%;
}
.apropos .text{
    width: 80%;
    margin: 0%;
}
.contact{
    cursor: pointer;
}
.contact:hover{
    text-decoration:underline;
}
.modal2 {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal2-content {
    margin: 5% auto;
    width: 65%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen2;
    animation-duration: 1s;
  }
  
  .modal2-header h4 {
    margin: 0;
    color: black;
    font-size: 2vh;
    letter-spacing: 0.05vw;
    
  }

 .modal2-footer h5 {
    margin: 0;
    color: black;
    font-size: 2vh;
    letter-spacing: 0.05vw;
  }
  
  .modal2-header {
    background: aliceblue;
    padding: 1vw;
    color: black;
    text-align: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal2-body {
    padding: 10px 20px;
    background: aliceblue;
  }

  .container{
    width: 90%;
    margin:0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    color: black;
  }
  .form-group input{
    width: 100%;
    padding: 10px 0px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
  }
  .form-group textarea{
    width: 100%;
    padding: 10px 0px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
    resize: vertical;
  }
 
  button[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    color: rgb(27, 166, 247);
    background-color: rgb(227, 233, 238);
    text-align: center;
    cursor: pointer;
    transition: .3s ease background-color;
    margin-top: 10px;
  }
  button[type="submit"]:hover{
    background-color: rgb(214, 226, 236);
  }
  #status{
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
  }
  #status.success{
    background-color: rgb(211, 250, 153);
    color: green;
    animation: status 4s ease  forwards;
  }
  #status.error{
    background-color: rgb(250, 129, 92);
    color: rgb(252, 252, 252);
    animation: status 4s ease  forwards;
  }
  
  @keyframes status{
    0%{
      opacity: 1;
      pointer-events: all;
    }
    90%{
      opacity: 1;
      pointer-events: all;
    }
    100%{
      opacity: 0;
      pointer-events: none;
    }
  }
  
  .modal2-footer {
    background: aliceblue;
    padding: 1vw;
    color: black;
    text-align: left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .close2 {
    float:right;
    font-size: 2vh;
    color: black;
  }
  
  .close2:hover,
  .close2:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen2 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/* *************************  PAGE SOINS  ******************************** */


/* Soins : Sommaire */
.sommaire {
    padding-top: 5%;
    background:url('images/Soin_0_Traitements.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.sommaire ul{
    list-style-type: none;
    text-align:center;
    padding:0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    font-size: 4vh;
    letter-spacing: 0.4vw;
    line-height: 8vh;
    }

.sommaire ul li{
    color: white;
}

.sommaire a{
    color: white;
}
.sommaire a:hover{
    color: black;
}


/* Soins : Section 1 - Soins des pieds */
.img_soin_1 {
    background:url('images/Pied_8.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.maladie{
    width: 20%;
    margin-top:2%;
}
.maladie img{
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
    width: 90%;
}
.maladie p{
    text-align:center;
    font-size: 1.4vh;
    letter-spacing: 0.1vw;
    line-height:1.4vh;
    padding:0;
}


/* Soins : Section 2 - Semelles Orthopédiques */
.img_soin_2 {
    background:url('images/Pied_6.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.orthese{
    width: 45%;
    margin-top:2%;
}
.orthese img{
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
    width: 50%;
}
.orthese p{
    text-align:center;
    font-size: 1.4vh;
    letter-spacing: 0.1vw;
    padding:0;
}

/* Soins : Section 3 - Réflexologie Plantaire */
.img_soin_3 {
    background:url('images/Soin_2.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.reflexo{
    width: 45%;
    margin-top:2%;
}
.reflexo img{
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
    width: 50%;
}
.reflexo p{
    text-align:center;
    font-size: 1.4vh;
    letter-spacing: 0.1vw;
    padding:0;
}


/* Soins : Section 4 - Et pour les sportifs... */
.img_soin_4 {
    background:url('images/Soin_13_Diabete.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.sportif{
    width: 30%;
    margin-top:2%;
}
.sportif img{
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
    width: 90%;
}
.sportif p{
    text-align:center;
    font-size: 1.4vh;
    letter-spacing: 0.1vw;
    padding:0;
}



/* *************************  PAGE RENDEZ-VOUS  ******************************** */


/* Rendez-Vous Sommaire */

.rdv_sommaire {
    padding-top: 5%;
    background:url('images/RdV_1.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.rdv_sommaire ul{
    list-style-type: none;
    text-align:center;
    padding:0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    font-size: 4vh;
    letter-spacing: 0.4vw;
    line-height: 8vh;
}

.rdv_sommaire ul li{
    color: white;
}

.rdv_sommaire a{
    color: white;
}
.rdv_sommaire a:hover{
    color: black;
}


/* Rendez-Vous Section 1 : Horaires des Consultations */

.img_rdv_1 {
    background:url('images/RdV_2.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.tableau{
    display:flex;
    align-items:flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5vh;
}
.texte1{
    width: 50%;
}
.tableau .text{
    width: 100%;
    text-align: left;
}
.image1{
    width: 50%;
}

#calendar {
    width:90%;
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
}
#calendar:hover{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
} 


/* Rendez-Vous Section 2 : Venir au Cabinet */
.img_rdv_2 {
    background:url('images/RdV_3.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#gare{
    background: url(images/rdv_gare_lr.jpg);
    background-size: cover;
}
#bus{
    background: url(images/rdv_bus_lr.jpg);
    background-size: cover;
}
#pharmacie{
    background: url(images/rdv_pharmacie_lr.jpg);
    background-size: cover;
}

.texte2{
    width: 40%;

    align-items: center;
    margin: 1vh 1vw;
}
.texte2 li{
    margin-bottom: 3%;
    width:51%;
    float: left;
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(10,10,10,0);
}
.texte2 p{
    background-color: transparent;
    border:1px white solid;
    color: white;
    font-size: 0.9vw;
    letter-spacing: 0.09vw;
    float: right;
    width: 100%;
    margin: 13% -110% 13% -110%;
    padding: 1% 2.5%;
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
}

.image2{
    width: 50%;
}

#map {
    width:90%;
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
}

#map:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
  }


/* Rendez-Vous Section 3 : Tarifs et Remboursements */
.img_rdv_3 {
    background:url('images/rdv_carte_vitale.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.texte3{
    width: 50%;
    text-align: left;
}
.image3{
    width: 50%;
}
.image3 a{
    margin: 1% 2.5%;
}
#tarifs {
    width:90%;
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
}
#tarifs:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
  }


/* Rendez-Vous Section 4 : Préparer votre venue... */
.img_rdv_4 {
    background:url('images/Soin_2.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.texte4{
    width: 50%;
    text-align: left;
}
.image4{
    width: 50%;
}
.image4 a{
    margin: 1% 2.5%;
}
#poeme {
    width:90%;
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
}
#poeme:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}


/* *************************  PIED DE PAGE (commun à tous)  ******************************** */

.footer{
    display: flex;
    margin-bottom: 1vh;
    padding: 0;
    font-size: 0.8vw;
}
.Copyright{
    width: 50%;
    text-align: left;
    color: black;
}
.Legal{
    width: 50%;
    text-align: right;
    color: black;
}

.mentions{
    cursor: pointer;
}
.mentions:hover{
    text-decoration:underline;
}
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    margin: 5% auto;
    width: 65%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
  }
  
  .modal-header h4 {
    margin: 0;
    color: black;
    font-size: 2vh;
    letter-spacing: 0.05vw;
  }

 .modal-footer h5 {
    margin: 0;
    color: black;
    font-size: 2vh;
    letter-spacing: 0.05vw;
  }
  
  .modal-header {
    background: aliceblue;
    padding: 1vw;
    color: black;
    text-align: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-body {
    padding: 10px 20px;
    background: #fff;
  }
  
  .modal-footer {
    background: aliceblue;
    padding: 1vw;
    color: black;
    text-align: left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .close {
    float:right;
    font-size: 2vh;
    color: black;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  


  /* *************************Page Travaux******************************** */

.travaux {
    padding-top: 5%;
    background:url('images/Travaux1.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* *************************  AFFICHAGE SUR MOBILE  ******************************** */

@media screen and (max-width: 800px){
    
    /* barre de navigation sur mobile */

    .nav{
        display: none;
    }

    .nav_mobile {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        background-color: white;
        position: fixed;
        overflow: hidden;
        z-index: 97;
    }

    .nav_bloc {
        position: fixed;
        height: 100vh;
        left: 0;
        top: 0;
        width:0;
    }

    .nav_mobile .profil_mobile{
        display:flex;
        justify-content: center;
        align-items:center;
    }

    .nav_mobile .profil_mobile img{
        margin-top: 3px;
        margin-bottom: 3px;
        width: 40px;
        height: 40px;
        border-radius: 20%;
    }

    .nav_mobile .profil_mobile h1{
        font-size:13px;
        margin: 3px 10px 3px 30px;
    }

    .nav_bloc {
        padding: 46px 0px;
        display: flex;
        justify-content: center;
        color: black;
        flex-direction:column;
      }
      
    .nav_bloc ul {
        list-style-type: none;
        padding-left:0;
        text-align:center;
    }
      
    .nav_bloc li {
        padding: 15px 15px;
    }
      
    .nav_bloc li:hover {
        text-decoration:underline;
        cursor: pointer;
    }
      
    .nav_bloc li a {
         color: black;
         text-decoration: none;
    }
    
    #sidemobile {
        background: white;
        border-right:2px solid #f3f6f8;
        height: 100vh;
        width: 75px;
        user-select: none;
        transform: translateX(-150px);
        transition: transform 250ms ease-in-out;
    }
    
    input[type="checkbox"]:checked ~ #sidemobile {
        transform: translateX(0);
    }
    input[type="checkbox"]:checked ~ #nav-footer {
        transform: translateX(0);
    }
    
    input[type=checkbox] {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;
    }
      
    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 15px;
        left: 15px;
        height: 22px;
        width: 22px;
    }
    .spinner {
      transition: all 0.3s;
      box-sizing: border-box;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: black;
    }
    .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
    }
    .diagonal.part-1 {
      position: relative;
      transition: all 0.3s;
      box-sizing: border-box;
      float: left;
    }
    .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      opacity: 0;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(135deg);
      margin-top: 8px;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(-135deg);
      margin-top: -9px;
    }

    /* Box ScrollMagic : Resizing sur mobile */
    .box h2{
        margin: 5%;
        font-size: 4vh;
        line-height:5vh;
    }
    .box .text{
        font-size: 1.6vh;
        letter-spacing:0.04vw;
        line-height:2.4vh;
    }

    /* Accueil : Resizing sur mobile */
    .telephone{
        font-size:5vw;
    }
    .apropos img{
        width: 33%;
        margin-top:2%;
    }
    .apropos .text{
        width: 100%;
        margin: 2%;
    }
    .discover{
        width: 30vh;
    }

    /* Soins et Traitements: Resizing sur mobile */
    .sommaire ul{
        font-size: 3.5vh;
        line-height:5vh;
    }

    /* Rendez-Vous : Resizing sur mobile */
    .rdv_sommaire ul{
        font-size: 3.5vh;
        line-height:5vh;
    }
    .tableau{
        align-items:center;
    }
    .tableau .text{
        width: 100%;
        text-align: justify;
        margin:0% 5% 5% 5%;
    }
    
    .texte1{
        width: 90%;
        text-align: center;
        margin:0%;
    }
    .image1{
        width:90%;
    }
    .image1 a{
        width:80%;
        text-align: center;
    }
    #calendar {
        margin:3% 10% 3% 10%;
    }

    .texte2{
        width: 90%;
        text-align: center;
        margin:0%;
    }
    .texte2 ul{
        width:80%;
    }
    .texte2 p{
        font-size: 1.6vh;
        letter-spacing:0.04vw;
        line-height:2.4vh;
    }
    .image2{
        width:90%;
    }
    .image2 a{
        width:80%;
        text-align: center;
    }
    #map {
        margin:3% 10% 3% 10%;
    }

    .texte3{
        width: 90%;
        text-align: center;
        margin:0%;
    }
    .image3{
        width:90%;
    }
    .image3 a{
        width:80%;
        text-align: center;
    }
    #tarifs {
        margin:3% 10% 3% 10%;
    }

    .texte4{
        width: 90%;
        text-align: center;
        margin:0%;
    }
    .image4{
        width:90%;
    }
    .image4 a{
        width:80%;
        text-align: center;
    }
    #poeme {
        margin:3% 10% 3% 10%;
    }

    /* Bas de Page sur mobile */
    .footer{
        font-size: 10px;
    }

    /* Pop-up Mentions Légales sur Mobile */
    .modal2-content {
        margin: 10% auto;
        width: 90%;
    }
    .modal-content {
        margin: 10% auto;
        width: 90%;
    }
}